
<footer class="mt-auto">
  <div class="d-flex flex-column min-vh-100" >
<!--  <div class="d-flex flex-column min-vh-100">-->
<!--  <div class="footer navbar-fixed-bottom " >-->
  <div class="container-fluid p-5 mt-3 text-white text-center" >
        <div class="row">
    <div class="col-sm-4 text-left ">
      <h4>Go to Know us</h4>
      <p>About us</p>
      <p>carriers</p>
       <p>press release</p>
    </div>
    <div class="col-sm-4 text-left">
      <h4>Connect with Us</h4>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Instagram</p>
    </div>
    <div class="col-sm-4 text-left">
      <h4>Let Us Help You</h4>
      <p>Your Account</p>
      <p>Returns Centre</p>
      <p>100% Purchase Protection</p>
      <p>Amazon App Download</p>
      <p>Help</p>
    </div>
        </div>
  </div>
 <div class="container-fluid text-white my_con ">
  <div class="row d-flex justify-content-center " style="background-color:#0F1111;" >
    <p class="mt-3"> @copy: GLOBAL tech pvt ltd. All rights Reserved</p>
      </div>
  </div>
  </div>
<!--  </div>-->
</footer>
